@import "../utils/variables";

.button {
  cursor: pointer;
  padding: 12px 18px;
  color: $background-white;
  font-size: 14px;
  font-weight: 400;
  background: $primary-text-color;
  border: none;
  border-radius: 8px;

  &:hover{
    background-color: $select-button;
  }
}
