@import "../utils/variables.scss";

.checkbox {
  width: 20px;
  height: 20px;

  color: black;

  border: 1px solid $secondary-text-color;

  &:checked {
    color: white;
    background: black;
  }
}
