@import "../utils/variables.scss";
@import "../utils/mixins.scss";

#box {
  width: 940px;
  height: 600px;
  padding: 16px;

  border-radius: 8px;

  box-shadow: 5px 5px 15px $shadow-color;

  background-color: $background-white;

  @include flex();

  & #steps {
    position: relative;

    width: 274px;
    height: 568px;
    padding: 40px 0 0 30px;

    &::before {
      content: "";
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      background-image: url(../../images/bg-sidebar-desktop.svg);
    }

    & nav {
      position: relative;
      z-index: 1;

      & ul {
        list-style: none;

        & li {
          cursor: pointer;

          width: 100%;
          margin: 0 0 30px 0;

          color: white;

          display: grid;
          grid-template-areas: "A B" "A C";

          justify-content: flex-start;
          align-items: center;

          &#active,
          &:hover {
            &::before {
              color: $primary-text-color;

              background-color: $background-select-step;

              border-color: $background-select-step;
            }
          }

          & label {
            z-index: -1;
            font-size: 10px;

            grid-area: B;
          }

          & h3 {
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 1px;

            grid-area: C;
          }

          &:last-child {
            margin: 0;
          }

          &::before {
            width: 32px;
            height: 32px;
            margin: 0 15px 0 0;

            border: 1px solid white;
            border-radius: 16px;

            grid-area: A;

            @include flex("center&center");
          }

          @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
              &::before {
                content: "#{$i}";
              }
            }
          }
        }
      }
    }
  }

  & form {
    width: 634px;
    height: 100%;
  }
}

@media screen and (max-width: 940px) {
  #box {
    width: 375px;
    height: max-content;
    padding: 0;

    border-radius: 0;
    box-shadow: none;

    background-color: transparent;

    @include flex("center&center", "col");

    & #steps {
      position: relative;

      width: 100%;
      height: 99px;
      padding: 40px 0 0 0;

      &::before {
        height: 172px;

        background-image: url(../../images/bg-sidebar-mobile.svg);
      }

      & nav {
        & ul {
          @include flex("center&center");

          & li {
            width: 34px;
            margin: 0 15px 0 0;

            & label {
              display: none;
            }

            & h3 {
              display: none;
            }
          }
        }
      }
    }

    & form {
      z-index: 2;

      width: 100%;
      height: 100%;
    }
  }
}
