@import "../../utils/variables.scss";
@import "../../utils//mixins.scss";

#step {
  width: 634px;

  @include flex("center&center", "col");

  & h1 {
    margin: 30px 0 20px 0;

    font-size: 38px;
    font-weight: 600;
  }

  & p {
    text-align: center;
    font-size: 18px;
  }
}
