@import "../../utils/variables";
@import "../../utils//mixins.scss";

#content {
  z-index: 2;
  width: 100%;
  height: 100%;

  @include flex("center&center", "col");

  & h1 {
    margin: 30px 0 20px;
    font-size: 34px;
    font-weight: 600;
  }

  & p {
    width: 450px;
    text-align: center;
    color: $secondary-text-color;
    font-size: 16px;
  }
}

@media screen and (max-width: 940px) {
  #content {
    min-width: 343px;
    padding: 80px 20px;
    background-color: $background-white;
    border-radius: 8px;

    & svg{
      width: 58px;
      height: 58px;
    }

    & h1 {
      margin: 20px 0 16px;
      font-size: 24px;
    }

    & p {
      width: 300px;
    }
  }
}
