@import "../../utils/variables";
@import "../../utils/mixins";

#content {
  width: 100%;

  @include flex("space-between&center", "col");

  & #header {
    width: 100%;
    margin: 0 0 32px;
    grid-area: A;

    & h1 {
      margin: 0 0 8px;
      font-size: 32px;
      font-weight: 600;
    }

    & h2 {
      color: $secondary-text-color;
      font-size: 16px;
      font-weight: 400;
    }
  }

  & .option {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 81px;
    padding: 0 22px;
    margin: 0 0 16px;

    @include flex("center&center");

    color: $plan-border-color;

    & .title {
      width: 100%;
      margin: 0 0 0 24px;

      & p:first-child {
        margin: 0 0 5px;
        color: $primary-text-color;
        font-weight: 500;
      }

      & p:last-child {
        color: $secondary-text-color;
        font-size: 14px;
      }

      @include flex(null, "col");
    }

    & span {
      width: 20px;
      height: 20px;
      flex: none;
      background-repeat: no-repeat;
      background-position: center center;
      border: 1px solid $secondary-text-color;
      border-radius: 4px;
    }

    & input {
      cursor: pointer;
      appearance: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        border: 1px solid $secondary-text-color;
        border-radius: 8px;
      }

      &:hover,
      &:checked {
        &::before {
          border: 1px solid $plan-border-color;
          background-color: $select-plan;
        }
      }

      &:checked {
        + span {
          background-image: url("../../../assets/images/icon-checkmark.svg");
          background-color: $select-input;
          border-color: transparent;
        }
      }
    }
  }
}

#controls {
  width: 100%;

  @include flex("space-between&center");

  & #go_back {
    width: max-content;
    padding-left: 0;
    padding-right: 0;
    color: $secondary-text-color;
    background: transparent;
  }

  & #next_step {
    width: 124px;
  }
}

@media screen and (max-width: 940px) {
  #content {
    min-width: 343px;
    padding: 32px 24px 16px;
    margin: 0 0 140px;
    border-radius: 8px;
    background-color: white;

    & #header {
      & h1 {
        font-size: 24px;
      }
    }

    .option {
      height: 61px;
      padding: 0 15px;

      & span {
        font-size: 12px;
      }

      & .title {
        width: 100%;
        margin: 0 0 0 24px;

        & p:first-child {
          font-size: 14px;
        }

        & p:last-child {
          font-size: 12px;
        }

        @include flex(null, "col");
      }
    }
  }

  #controls {
    height: 72px;
    padding: 0 16px;
    background-color: white;
  }
}
