@import "../../utils/variables";
@import "../../utils/mixins";

#content {
  width: 100%;

  & #header {
    width: 100%;

    & h1 {
      margin: 0 0 8px;
      font-size: 32px;
      font-weight: 600;
    }

    & h2 {
      color: $secondary-text-color;
      font-size: 16px;
      font-weight: 400;
    }
  }

  & #fields {
    width: 100%;
    margin: 40px 0 0;

    & .field {
      margin: 0 0 20px;

      &:last-child {
        margin: 0;
      }
    }
  }
}

#controls {
  width: 100%;

  @include flex("end&center");

  & #next_step {
    width: 124px;
  }
}

@media screen and (max-width: 940px) {
  #content {
    width: calc(100% - 32px);
    min-width: 311px;
    padding: 32px 24px;
    margin: 0 0 120px;
    border-radius: 8px;
    background-color: $background-white;
    box-shadow: $content-box-shadow;

    & #header {
      & h1 {
        font-size: 24px;
      }
    }

    & #fields {
      margin: 22px 0 0;

      & .field {
        margin: 0 0 16px;  
      }
    }
  }

  #controls {
    height: 72px;
    padding: 0 16px;
    background-color: $background-white;
  }
}
