$background-white: rgb(255, 255, 255);
$background-global: rgb(235, 243, 254);
$background-select-step: rgb(191, 226, 253);

$primary-text-color: rgb(2, 41, 90);
$secondary-text-color: rgb(150, 153, 171);

$plan-border-color: rgb(85, 75, 209);
$summary-hover-button:rgb(133, 127, 250);
$select-input: rgb(71, 61, 255);
$select-button: rgb(0, 62, 138);
$select-plan: rgb(246, 247, 254);

$error: hsl(354, 84%, 57%);
$shadow-color: rgb(214, 217, 230);
