$primary-text-color: hsl(213, 96%, 18%);
$secondary-text-color: hsl(0, 0%, 100%);
$placeholder-color: hsl(231, 11%, 63%);
$background-steps: hsl(243, 100%, 62%);
$background-select-step: hsl(206, 94%, 87%);

$var4: hsl(228, 100%, 84%);
$var5: hsl(354, 84%, 57%);

$var7: hsl(229, 24%, 87%);
$var8: hsl(217, 100%, 97%);
$var9: hsl(231, 100%, 99%);
